/* -=[: Imports :]=- */
@import url('assets/styles/variables.css');
@import url('assets/styles/fonts.css');
@import url('assets/styles/animations.css');

/* -=[: Base Styling :]=- */

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.35) 15%, rgb(0 0 0 / 1) 95%), url('assets/images/nathan-anderson-L95xDkSSuWw-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -=[: Blockquotes :]=- */

/* -=[: Blockquote Title Styling :]=- */

.bq-title {
    margin: 0;
    margin-top: -12vh;
    margin-inline: 0;
    width: 90%;
    min-width: 20em;
    
    opacity: 0.9;
    
    text-align: center;
    quotes: "“" "”" "‘" "’";
}

.bq-title p {
    margin: 0;
    
    color: var(--color-soft-white);
    font-family: "Playfair Display", serif;
    font-size: 4em;
    
    opacity: 0;
    animation: bq-title-appear 1.5s 0.2s ease forwards;
}

.bq-title p::before,
.bq-title p::after {
    position: absolute;
    margin-top: -0.19em;
    font-size: 1.5em;
    
    opacity: 0;
    animation: bq-title-appear 1.3s ease forwards;
}

.bq-title p::before {
    margin-left: -0.44em;
    content: open-quote;
}

.bq-title p::after {
    margin-left: -0.04em;
    content: close-quote;
}

.bq-title p span {
    color: transparent;
    
    background: linear-gradient(45deg, var(--color-soft-wax), var(--color-moonshadow), var(--color-soft-wax));
    background-size: 400%;
    background-clip: text;
    
    animation: bq-title-gradient-glow 15s ease infinite alternate;
}

.bq-title .reverse {
    background: linear-gradient(45deg, var(--color-moonshadow), var(--color-soft-wax), var(--color-moonshadow));
    background-size: 400%;
    background-clip: text;
}

.bq-title footer {
    margin-top: 3em;
    
    color: transparent;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;
    word-spacing: 0.2em;
    
    background: linear-gradient(45deg, var(--color-soft-wax), var(--color-moonshadow), var(--color-soft-wax));
    background-size: 400%;
    background-clip: text;
    
    text-transform: uppercase;
    
    opacity: 0;
    animation:
        bq-title-appear 1.2s 1.5s ease forwards,
        bq-title-gradient-glow 30s ease infinite alternate;
}

.bq-title footer span {
    color: var(--color-soft-white);
}

@media screen and (max-width: 80em) {
    .bq-title p {
        font-size: 3.3em;
    }
    
    .bq-title footer {
        font-size: 1em;
    }
}
