/* -=[: Global Animations :]=- */

@keyframes bq-title-gradient-glow {
    from {background-position:   0%   0%}
      to {background-position: 100% 100%}
}

@keyframes bq-title-appear {
    from {
        opacity: 0;
        transform: translateY(1.2em);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
